body {
    font-family: Vazirmatn, sans-serif!important;
    text-align: right;
}
#app{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rtl{
    direction: rtl;
    text-align: right;
}